/* #region FONT */
@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir-Book.ttf);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Avenir;
  src: url(fonts/Avenir-Heavy.ttf);
  font-weight: 900;
  font-style: normal;
}

/* #endregion */

body {
  font-family: Avenir, sans-serif;
  font-weight: 300;
  color: #3d4e61;
}

/* #region DEFAULT */
.form {
  display: block;
}

.form__input {
  width: 100%;

  border: 1px solid rgba(225, 231, 237, 1);
  border-radius: 4px;

  box-shadow: 0 1px 8px 0 rgba(61, 78, 97, 0.1);
  box-sizing: border-box;

  font-family: inherit;
  font-weight: 300;
}

.form--big {
  margin-top: 20px;
  margin-bottom: 20px;
}

.form--small .form__input {
  background-image: url(images/Search.svg);
  background-repeat: no-repeat;
  background-position: 12px 14px;
  height: 42px;
  line-height: 100%;
  background-size: 11px;
  font-size: 14px;
  padding-left: 33px;
}

.form--big .form__input {
  background-image: url(images/Search.svg);
  background-repeat: no-repeat;
  background-position: 25px 24px;
  background-size: 19px;
  font-size: 16px;
  height: 70px;
  line-height: 100%;
  padding-left: 62px;
}

.form__input::placeholder {
  color: #3d4e61;
}

/* #endregion */

/* #region HOVER */
.form__input:hover {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

/* #endregion */

/* #region FOCUS */
.form__input:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/* #endregion */
